.todoItem {
  display: flex;
  position: relative;
  align-items: center;
  height: 8vh;
  background-color: var(--foreground);
  color: var(--text-color);
  border-bottom: 1px dashed var(--background);
  box-shadow: 1px 2px 2px var(--shadow);
  transition: background-color 2s, color 2s;
  /* border: 1px solid red; */
}

input[type='checkbox'] {
  cursor: pointer;
}
.todoItem > .todoItem__name {
  flex-grow: 1;
  font-size: 16px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.isCompleted {
  background-color: var(--checked-item);
  color: var(--checked-text);
  text-decoration: line-through;
}

.todoItem_Btn {
  position: absolute;
  right: 15px;
  z-index: 3;
  align-items: baseline;
  /* border: 1px solid green; */
}

@media screen and (max-width: 780px) {
  .todoItem {
    height: 8vh;
  }
  .todoItem > .todoItem__name {
    font-size: 12px;
  }
}
