#notepad {
  color: var(--light-pink)
}

#react {
  color: var(--light-cyan);
}

#typescript{
  color: var(--light-blue);
}

.head .title {
  padding-top: 2%;
  text-align: center;
  color: var(--text-color);
  font-weight: 700;
}

.title span {
  color: var(--light-blue);
  font-weight: 700;
}

