:root {
  --background: #e65e72;
  --foreground: #fefefe;
  --text-color: #262626;
  --shadow: #333333;
  --icon-react: #76c5d6;
  --icon-typescript: #0c5da9;
  --input: #f3f3f3;
  --checked-text: #8e8e8e;
  --checked-item: #bdbdbd;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

div,
input,
p,
h1,
span {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  height: 100vh;
  width: 100vw;
}

.page {
  background: var(--foreground);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 5px var(--shadow);
}


@media screen and (min-width: 780px) {
  .app .page {
    width: 600px;
  }
}

@media screen and (max-width: 780px) {
  .app .page {
    width: 325px;
  }
}
