:root {
  --background: #e65e72;
  --foreground: #fefefe;
  --text-color: #262626;
  --shadow: #333333;
  --light-cyan: #76c5d6;
  --light-pink: #e65e72;
  --light-blue: #0c5da9;
  --transparent-grey: #f3f3f3;
}

*,
::before,
::after {
  box-sizing: border-box;
}

div,
input,
p,
h1,
span {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background: var(--background);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  margin: -8px;
}

.page {
  background: var(--foreground);
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 5px 5px var(--shadow);
}

@media screen and (max-width: 768px) {
  .app .page {
    width: 350px;
  }
}
