.inputContainer {
  position: relative;
  margin: 10px 0 10px;
}

.inputContainer label {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 16px;
  pointer-events: none;
  color: grey;
  transition: all 0.5s ease-in-out;
}
.inputContainer input {
  background: var(--input);
  border: 0;
  border-radius: 10px;
  border-bottom: 1px solid var(--background);
  padding: 8px 0 5px 0;
  color: var(--text-color);
}

.inputContainer input:focus {
  /* border:none; */
  outline: none;
  border-bottom: 1px solid var(--icon-react);
}

.inputContainer input:focus ~ label,
.inputContainer input:not(:placeholder-shown) ~ label {
  top: -45%;
  font-size: 12px;
}

@media screen and (max-width: 780px) {
  .inputContainer label {
    font-size: 12px;
  }
}
